
body{
	font-family: 'Open Sans', sans-serif;
}

#header{
	text-align: center;
	margin: 1px ;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	border: 1px solid #333;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);	
	font-family: Arial, Helvetica, sans-serif;
}

#container{
	width: 340px;
	height: 675px;
	background-color: #f3f3f3;
	margin: 50px auto;	
	border: 1px solid #333;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
	height: 120px;
	background-color: #222;
	color: #fff;
}

#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
	color: #fff;
}

#keyboard{
	height: 500px;
}

.operator, .number, .empty{
	width: 60px;
	height: 60px;
	margin: 10px;
	float: left;
	border-radius: 10px;
	border: 1px solid #333;
	font-weight: bold;
	font-size: 20px;
	background-color: #e0e0e0;
	color: #333;
	cursor: pointer;
}

.empty{
	background-color: #f3f3f3;
	border: none;
}

.number{
	background-color: #fff;
}

.operator{
	background-color: #d4d4d4;
}

.operator:active, .number:active{
	background-color: #b4b4b4;
}

.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}

button:nth-child(4){
	font-size: 20px;
	background-color: #d4d4d4;
}

button:nth-child(8){
	font-size: 20px;
	background-color: #d4d4d4;
}

button:nth-child(12){
	font-size: 20px;
	background-color: #d4d4d4;
}

button:nth-child(16){
	font-size: 20px;
	background-color: #d4d4d4;
}

button:nth-child(20){
	font-size: 20px;
	background-color: #d4d4d4;
}

#footer {
	font-size: 12px;
	background-color: #e0e0e0;
	padding: 10px;
    text-align: center;
    color: #333;
    margin-top: 20px;
	border-top: 1px solid #333;
} 
